* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 1 ############################################################################################### */

.part1-wrapper {
    width: 100%;
    background: #0C0D2EE5;
    opacity: 0.999;
}

.part1 {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.img1 {
    width: 200px;
}

.list1 {
    margin-left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.but1 {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background: #0C0D2EE5;
    border: 2px #ffffff solid;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.but1:hover {
    background-color: #159BE8;
    box-shadow: 1px 1px 8px 0px white;
}

.link1 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.link1:hover {
    color: #189CE8;
}

/* 2 ################################################################################################ */

.part2-wrapper {
    width: 100%;
    background: #010225;
}

.part2 {
    width: 1200px;
    margin: auto;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.img2 {
    width: 200px;
}

.left1 {
    width: 600px;
    height: 400px;
    margin-left: 50px;
}

.title1 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 76px;
    color: #FFFFFF;
}

.text1 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    color: #FFFFFF;
}

.img3 {
    width: 650px;
}

.right1 {
    margin-top: -110px;
}

/* 3 ###################################################################################################### */

.part3-wrapper {
    width: 100%;
    background: #0C0D2E;
}

.part3 {
    width: 1200px;
    margin: auto;
    padding: 8px 16px;
}

.title2 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
}

.text2 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    width: 700px;
    margin: auto;
    margin-top: 30px;
}

.title4 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 10px;
}

.text3 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    width: 270px;
    margin-top: 10px;
}

.list2 {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link2 {
    margin-left: 90px;
    color: #159BE8;
    margin-top: 10px;
}

.img4 {
    margin-left: 100px;
}

/* 4 ######################################################################################### */

.part4-wrapper {
    width: 100%;
    background: #0C0D2E;
}

.part4 {
    width: 1200px;
    margin: auto;
    padding: 8px 16px;
    background-image: url('/images/Frame\ \(1\).png');
}

.title5 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    width: 650px;
    margin: auto;
    margin-top: 50px;
}

.text4 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    width: 700px;
    margin: auto;
    margin-top: 10px;
}

.boxes1 {
    width: 340px;
    margin-left: 30px;
    margin-top: -150px;
}

.box1 {
    margin-top: 100px;
}

.box2 {
    margin-top: 100px;
}

.boxes2 {
    margin-left: 810px;
    margin-top: -700px;
}

.title6 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
}

.text5 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    width: 340px;
    margin-top: 10px;
}

.img-phone1 {
    width: 300px;
    margin-left: 430px;
    margin-top: -600px;
}

.firstbox {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.title7 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.text6 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 340px;
    margin-top: 10px;
}

.img5 {
    margin-left: 320px;
}

/* 5 ##################################################################################### */

.part5-wrapper {
    width: 100%;
    background: #010225;
}

.part5 {
    width: 1200px;
    margin: auto;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
}

.left3 {
    width: 600px;
    margin-top: 150px;
    margin-left: 30px;
}

.title8 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #FFFFFF;
    width: 450px;
}

.text7 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    color: #FFFFFF;
    width: 600px;
}

.title9 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.text8 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
    color: #FFFFFF;
    width: 270px;
}

.img6 {
    width: 50px;
    height: 50px;
}

.link3 {
    color: #159BE8;
}

.boxes3 {
    display: flex;
    justify-content: space-between;
}

.but2 {
    box-sizing: border-box;
    background: #0C0D2E;
    border: 2px solid #ffffff;
    border-radius: 100px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    width: 160px;
    height: 40px;
    margin-top: 30px;
}

.but2:hover {
    background-color: #159BE8;
    box-shadow: 1px 1px 8px 0px white;
}

.img7 {
    width: 550px;
    margin-top: 100px;
}

/* 6 ##################################################################### */

.part6-wrapper {
    width: 100%;
    background: #010225;
}

.part6 {
    width: 1200px;
    margin: auto;
    padding: 8px 16px;
}

.info {
    margin-top: 100px;
}

.link4 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #159BE8;
    margin-left: 500px;
}

.title10 {
    width: 600px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 100px;
    margin: auto;
    margin-top: 20px;
}

.list3 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.img8 {
    width: 150px;
}

.list4 {
    display: flex;
    justify-content: space-between;
}

.img10 {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.text9 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
    width: 290px;
    margin-top: 30px;
}

.title11  {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.text10 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.name {
    margin-left: 60px;
    margin-top: -40px;
}

.img9 {
    margin-top: 50px;
}

.item4 {
    width: 270px;
    height: 450px;
}

/* 7 ################################################################################### */

.part7-wrapper {
    width: 100%;
    background: #010225;
}

.part7 {
    width: 1200px;
    margin: auto;
    padding: 8px 16px;
}

.info2 {
    margin-top: 100px;
}

.link5 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #159BE8;
    margin-left: 550px;
}

.title12 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    width: 640px;
    margin: auto;
    margin-top: 20px;
}

.text11 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    width: 700px;
    margin: auto;
    margin-top: 10px;
}

.list5 {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.title13 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: #FFFFFF;
    margin-top: 100px;
}

.title14 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
    margin-left: 80px;
    margin-top: 50px;
}

.text14 {
    width: 300px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}

.but3 {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    background: #010225;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    width: 180px;
    height: 40px;
    margin-top: 50px;
    margin-left: 50px;
}

.but3:hover {
    background-color: #159BE8;
    box-shadow: 1px 1px 8px 0px white;
}

.num1 {
    margin-left: 80px;
}

.num2 {
    margin-left: 120px;
}

.num3 {
    margin-left: 90px;
}

.num4 {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    background: #010225;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    width: 180px;
    height: 40px;
    margin-top: 75px;
    margin-left: 50px;
}

.num4:hover {
    background-color: #159BE8;
    box-shadow: 1px 1px 8px 0px white;
}

.line1 {
    width: 300px;
    height: 2px;
    background: #159BE8;
    border: none;
}

.line2 {
    width: 300px;
    height: 2px;
    background: #F95B74;
    border: none;
}

.line3 {
    width: 300px;
    height: 2px;
    background: #7C44E2;
    border: none;
}

.item5 {
    box-shadow: 1px 1px 10px 0px #0000000D;
    background: #0C0D2E;

}

.longbox {
    margin: auto;
    width: 1050px;
    margin-top: 50px;
    background-image: url('/images/Frame\ \(5\).png');
}

.title15 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}

.text15 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: auto;
    text-align: center;
    width: 700px;
    color: #FFFFFF;
    margin-top: 50px;
}

.but4 {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    background: #010225;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    width: 180px;
    height: 40px;
    margin-top: 50px;
    margin-left: 300px;
}

.but4:hover {
    background-color: #159BE8;
    box-shadow: 1px 1px 8px 0px white;
}

.but5 {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    background: #010225;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    width: 180px;
    height: 40px;
    margin-top: 50px;
    margin-left: 50px;
}

.but5:hover {
    background-color: #159BE8;
    box-shadow: 1px 1px 8px 0px white;
}

/* 8 ################################################################################################ */

.part8-wrapper {
    width: 100%;
    background: #0C0D2E;
}

.part8 {
    width: 1200px;
    margin: auto;
    padding: 8px 16px;

}

.title16 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}

.title17 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}

.img11 {
    width: 170px;
    margin-left: 500px;
    margin-top: 100px;
}

.email {
    width: 400px;
    height: 40px;
    margin-left: 400px;
    margin-top: 20px;
    border: 2px solid #ffffff;
    background-color: #0C0D2E;
    padding: 8px 16px;
    font-size: 20px;
    letter-spacing: 2px;
}

.text16 {
    margin-top: 50px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.but99 {
    width: 150px;
    height: 50px;
    background-color: #0C0D2E;
    margin-left: 520px;
    margin-top: 50px;
    border-radius: 30px;
    border: 2px solid #ffffff;
}

.but99:hover {
    background-color: #159BE8;
    box-shadow: 1px 1px 8px 0px #ffffff;
}

.icons {
    margin-left: 550px;
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.icon:hover {
    box-shadow: 1px 1px 3px 0px #ffffff;
    border: none;
}
